body {
  margin: 0;
  padding: 0;
  font-family: inter ui, -apple-system, BlinkMacSystemFont, roboto, segoe ui, Helvetica, Arial, sans-serif;
  font-display: auto;
  font-size: 1rem;
  line-height: 1.54;
  background-color: #fff;
  color: #222;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.menu a:last-of-type {
  margin-right: 0;
}

.menu a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: hotpink;
}

a:active {
  color: hotpink;
}