@font-face {
	font-family: "pusab";
	src: url('/fonts/8-bit-hud.ttf');
}

body {
    color: #fff;
    background: #222;
    font-family: pusab;
    font-size: 16px;
    text-shadow: 2px 2px #555;
    padding: 50px;
}

table {
    border: none;
}

a {
    color: #007896;
    text-shadow: 2px 2px #003d4d;
    text-decoration: none;
}

td {
    padding: 0 2em 0.5em 0;
}

td.data {
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    word-break: break-word;
}

.head {
    margin-bottom: 1em;
}

.head img {
    display: none;
    height: 150px;
    width: 150px;
    margin: 0 80px 40px 0;
    border-radius: 50%;
    vertical-align: middle;
}

.head marquee {
    font-size: 1.8em;
}